{% extends 'layouts/base.html' %}
{% load poll_extras %}

{% block title %} Tables {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <h6>Positions</h6>
                    <p class="text-sm mb-0">
                        <span class="font-weight-bold ms-1">Long Portfolio Value:</span> $
                        {{userdata.long_portfolio_value}}
                        <span class="font-weight-bold ms-1">Short Portfolio Value:</span> $
                        {{userdata.short_portfolio_value}} <br>
                        <span class="font-weight-bold ms-1">Cash:</span> $ {{userdata.cash}} ($
                        {{userdata.tradable_cash}} tradable)
                    </p>
                </div>

                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                            <tr>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    Ticker
                                </th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    Shares
                                </th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    Price
                                </th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    Avg Entry
                                </th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    Cost Basis
                                </th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    Market Value
                                </th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    Today's P/L (%)
                                </th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    Today's P/L ($)
                                </th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    Total P/L (%)
                                </th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    Total P/L ($)
                                </th>
                                <th class="text-secondary opacity-7"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for position in userdata.portfolio %}
                            <tr class="align-middle text-center">
                                <td>
                                    <h6 class="mb-0 text-sm">{{ position.symbol }}</h6>
                                </td>
                                <td class="align-middle text-center">
                                    <h6 class="mb-0 text-sm">{{ position.qty }}</h6>
                                </td>
                                <td class="align-middle text-center text-sm">
                                    <span class="text-xs font-weight-bold"> $ {{ position.current_price }} </span>
                                </td>
                                <td class="align-middle text-center text-sm">
                                    <span class="text-xs font-weight-bold"> $ {{ position.avg_entry_price }} </span>
                                </td>

                                <td class="align-middle text-center">
                                    <span class="text-xs font-weight-bold">$ {{ position.cost_basis }} </span>
                                </td>
                                <td class="align-middle text-center">
                                    <span class="text-xs font-weight-bold"> $ {{ position.market_value }}</span>
                                </td>
                                <td class="align-middle text-center">
                                    {% if position.lastday_price >= position.current_price %}
                                        <span class="fa fa-arrow-up text-success text-sm font-weight-bolder"> {{ position.change_today | find_percent}}%</span>
                                    {% elif position.lastday_price < position.current_price %}
                                        <span class="fa fa-arrow-down text-danger text-sm font-weight-bolder"> {{ position.change_today | find_percent }}%</span>
                                    {% endif %}
                                </td>
                                <td class="align-middle text-center">
                                    {% if position.lastday_price >= position.current_price %}
                                        <span class="fa fa-arrow-up text-success text-sm font-weight-bolder"> ${{ position.unrealized_intraday_pl }}</span>
                                    {% elif position.lastday_price < position.current_price %}
                                        <span class="fa fa-arrow-down text-danger text-sm font-weight-bolder"> ${{ position.unrealized_intraday_pl }}</span>
                                    {% endif %}
                                </td>
                                <td class="align-middle text-center">
                                    {% if position.avg_entry_price >= position.current_price %}
                                        <span class="fa fa-arrow-up text-success text-sm font-weight-bolder"> {{ position.unrealized_plpc | find_percent}} %</span>
                                    {% elif position.avg_entry_price < position.current_price %}
                                        <span class="fa fa-arrow-down text-danger text-sm font-weight-bolder"> {{ position.unrealized_plpc | find_percent}} %</span>
                                    {% endif %}
                                </td>
                                <td class="align-middle text-center">
                                    {% if position.avg_entry_price >= position.current_price %}
                                        <span class="fa fa-arrow-up text-success text-sm font-weight-bolder"> $ {{ position.unrealized_pl}}</span>
                                    {% elif position.avg_entry_price < position.current_price %}
                                        <span class="fa fa-arrow-down text-danger text-sm font-weight-bolder"> $ {{ position.unrealized_pl }}</span>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
