      <footer class="footer pt-3  ">
        <div class="container-fluid">
          <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-6 mb-lg-0 mb-4">
              <div class="copyright text-center text-sm text-muted text-lg-start">
                &copy; <a href="https://bit.ly/3fKQZaL" class="font-weight-bold" target="_blank">UTMIST</a>
                 - the WallStreetBots Team
              </div>
            </div>
            <div class="col-lg-6">
              <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                <li class="nav-item">
                  <a href="https://utmist.gitlab.io/projects/wallstreetbots/" class="nav-link text-muted" target="_blank">Project Proposal</a>
                </li>
                <li class="nav-item">
                  <a href="https://utmist.gitlab.io/" class="nav-link text-muted" target="_blank">UTMIST</a>
                </li>
                <li class="nav-item">
                  <a href="https://utmist.gitlab.io/team/engineering/" class="nav-link text-muted" target="_blank">Developers</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
      