  
  <footer class="footer py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mb-4 mx-auto text-center">
          <a href="https://onedrive.live.com/?authkey=%21AFPcyDdt6ys6Re0&cid=E955947B18A5A498&id=E955947B18A5A498%211937&parId=E955947B18A5A498%211944&o=OneUp" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
            Project Proposal
          </a>
          <a href="https://utmist.gitlab.io/" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
            UTMIST
          </a>
          <a href="https://utmist.gitlab.io/team/engineering/" target="_blank"
             class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
             Developers
          </a>
        </div>
        <div class="col-lg-8 mx-auto text-center mb-4 mt-2">
          <a href="https://github.com/UTMIST/WallStreetBots" target="_blank" class="text-secondary me-xl-4 me-4">
            <span class="text-lg fab fa-github"></span>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-8 mx-auto text-center mt-1">
          <p class="mb-0 text-secondary">
            &copy; <a href="https://utmist.gitlab.io/" target="_blank">UTMIST</a> - the WallStreetBots Team.
          </p>
        </div>
      </div>
    </div>
  </footer>
  