
<style>
table, th, td {
  border:1px solid black;
}

.row {
  display: -webkit-flex;
  display: flex;
}

.column {
  padding: 10px;
  height: 700px;
}

.column.side {
   -webkit-flex: 1;
   -ms-flex: 1;
   flex: 1;
   border-style: ridge;
}


.column.middle {
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
  border-style: ridge;
}


.footer {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}






</style>

<body>

<div class="logged-in-box auth0-box logged-in" style="display: flex;">
    <img class="avatar" src="{{ auth0User.extra_data.picture }}"/>
    <h1 style="padding-left: 80px"> Welcome {{ user.username }} !</h1>
</div>

<div class="row">


    <div class="column side">
        <h1>My Account</h1>
        <p> Alpaca ID: {{ userdata.alpaca_id }} <br>
            Alpaca Key: {{ userdata.alpaca_key }}
        </p>
        <p>{{ userdata.error }}</p>
        <form action="" method="post">
            {% csrf_token %}
            <table>
                {{ credential_form.as_table }}
            </table>
            <input type="submit" name="submit_credential" value="Save">
        </form>
        <a class="btn btn-primary btn-lg btn-logout btn-block" href="/logout">Logout</a>
        <h2>Total Equity: $ {{ userdata.total_equity }}</h2>
        <h2>Marginal Buying Power: $ {{ userdata.buy_power }}</h2>
        <h2>Currency: {{userdata.currency}}</h2>
    </div>


    <div class="column middle">
        <h1>My Portfolio</h1>
        <h3>Long Portfolio Value: $ {{userdata.long_portfolio_value}}</h3>
        <h3>Short Portfolio Value: $ {{userdata.short_portfolio_value}}</h3>
        <h3>Cash: $ {{userdata.cash}} ($ {{userdata.tradable_cash}} tradable)</h3>

        <table style="width:80%">
            <tr>
                <th>Symbol</th>
                <th>Quantity</th>
                <th>Current Price</th>
                <th>Average Entry Price</th>
                <th>Side</th>
            </tr>
            {% for position in userdata.portfolio %}
            <tr>
                <td style="text-align:center">{{ position.symbol }}</td>
                <td style="text-align:center">{{ position.qty }} shares</td>
                <td style="text-align:center">$ {{ position.current_price }}</td>
                <td style="text-align:center">$ {{ position.avg_entry_price }}</td>
                <td style="text-align:center">{{ position.side}}</td>
            </tr>
            {% endfor %}
        </table>
        <h3>Current Strategy:</h3>
        <p>Rebalancing Strategy: {{userdata.strategy.rebalance}}</p>
        <p>Optimization Strategy: {{userdata.strategy.optimization}}</p>
        <form action="" method="post">
            {% csrf_token %}
            <table>
                {{ strategy_form.as_table }}
            </table>
            <input type="submit" name="submit_strategy" value="Update">
        </form>
    </div>

</div>


<div class="order-form">
    <h1>Place Order</h1>
    <p>{{ order_submit_form_response }}</p>
    <form action="" method="post">
        {% csrf_token %}
        <table>
            {{ order_form.as_table }}
        </table>
        <input type="submit" name="submit_order" value="Submit Order">
    </form>
</div>

<div class="order table">
    <h1>My Order History</h1>

    <table style="width:80%">
        <tr>
            <th>Symbol</th>
            <th>Quantity</th>
            <th>Type</th>
            <th>Creation Date</th>
            <th>Filled Quantity</th>
            <th>Average Filled Price</th>
            <th>Status</th>

        </tr>
        {% for order in userdata.orders %}
        <tr>
            <td style="text-align:center">{{ order.stock }}</td>
            <td style="text-align:center">{{ order.quantity }} shares</td>
            <td style="text-align:center">{{ order.type}}</td>
            <td style="text-align:center">{{ order.timestamp }}</td>
            <td style="text-align:center">{{ order.filled_quantity}}</td>
            <td style="text-align:center"> $ {{ order.filled_avg_price}}</td>
            <td style="text-align:center">{{ order.status}}</td>
        </tr>
        {% endfor %}
    </table>
</div>

<div class="footer">
    <p>made by UTMIST/WallStreetBots Team, 2021-2022</p>
</div>
</body>
