<!DOCTYPE html>
<html>
<body>
<div class="logged-in-box auth0-box logged-in">
    <img class="avatar" src="{{ auth0User.extra_data.picture }}"/>
    <h2>Welcome {{ user.username }}</h2>

    <p> Alpaca ID: {{userdata.alpaca_id}} <br>
        Alpaca Key: {{userdata.alpaca_key}}
    </p>
    <p>{{userdata.error}}</p>
    <form action="" method="post">
        {% csrf_token %}
        <table>
        {{ form.as_table }}
        </table>
        <input type="submit" value="Save">
    </form>
    <a class="btn btn-primary btn-lg btn-logout btn-block" href="/logout">Logout</a>
    <h1>Total Equity: $ {{ userdata.total_equity }}</h1>
    <h2>Buying Power: $ {{ userdata.buy_power }}</h2>

</div>

</body>
</html>